<div id="section_main" class="container section">
	<div class="col-xs-12 col-sm-4">
		<h1><i class="fa fa-question-circle"></i> ¿QUIENES SOMOS?</h1>
		<p>Somos un grupo de creativos jovenes desarrolladores web, diseñadores grafios y social managers.</p>
	</div>
	<div class="col-xs-12 col-sm-4"></div>
	<div class="col-xs-12 col-sm-4"></div>
</div>