<div id="section_logo" class="container section logo">
	<div class="row">
		<div class="col-xs-12 foreground">
			<span class="vivostudio">VIVO<span class="subtitle">STUDIO</span></span>
		</div>
		<div class="col-xs-12 foreground downarrow">
			<span id="downarrow"><a href="#section_main" onclick="scrollToSection('main')">&#9660;</a></span>
		</div>
	</div>
</div>