<div id="section_main" class="container section">
	<div class="col-xs-12 col-sm-4">
		<h1>DISEÑO & DESARROLLO WEB</h1>
		<p>Creamos sitios web que permitan definir la presencia online de tu marca, con las últimas herramientas y tecnologías para asegurar que el sitio de resultados.</p>
	</div>
	<div class="col-xs-12 col-sm-4">
		<h1>GESTIONÁ EL CONTENIDO</h1>
		<p>Desarrollamos sitios con los últimos sistemas de manejo de contenido dinámico, para que puedas administrarlo de manera automática y directa a tu gusto, cuando quieras.</p>
	</div>
	<div class="col-xs-12 col-sm-4">
		<h1>MARKETING ONLINE</h1>
		<p>Hace que tu marca se vea en el mundo online, aparezca en los buscadores y en las diferentes redes sociales a través de campañas personalizadas.</p>
	</div>
</div>