{% import "../mixins/flash-messages.twig" as FlashMessages %}
{% spaceless %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ title|default("VIVOSTUDIO") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="/styles/site.min.css" rel="stylesheet">
		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		{% block css %}{% endblock %}
		{% block head %}{% endblock %}
	</head>
	<body>
		{% block content %}
		{% endblock %}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{% if (user is defined) and (user.canAccessKeystone) %}
			<script src="/keystone/js/content/editor.js"></script>
		{% endif %}
		{% block js %}{% endblock %}
		<script type="text/javascript">
			(function() {
				var interval = 5;
				var total = 6;
				var count = parseInt(Math.random()*total);

				var $logo = $('.section.logo .vivostudio');
				$logo.attr('id', 'bg' + (count%total + 1));

				setInterval(function() {
					count++;
					$logo.attr('id', 'bg' + (count%total + 1));
				}, interval*1000);
			})();
			function scrollToSection(name) {
				$('html, body').animate({
					scrollTop: $("#section_" + name).offset().top
				}, 1000);
			}

			$(window).scroll(function(){
				var $navbar = $('#navbar'),
				scroll = $(window).scrollTop();

				if(scroll >= $("#section_logo").height() - 10) {
					$navbar.addClass('fixed');
				} else {
					$navbar.removeClass('fixed');
				}
			});
		</script>
	</body>
</html>
{% endspaceless %}